<footer>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">
        <div>
          <h4 class="text-center" style="color: #183660;direction: rtl;font-size: 28px;font-weight: bold;">
            <img src="assets/img/logo.png" style="width: 45px;height: 50px;margin-left: 10px">کیو
          </h4>
        </div>
      </div>
      <div class="col-sm-3 col-sm-push-5 col-md-3 col-md-push-5">
        <table style="border: 0;background: transparent;margin-top: 25px;" class="table-responsive">
          <tr>
            <td><p
              style="font-size: 16px;text-align: justify;direction: rtl;margin-right: 20px;line-height: 25px;color: #6D6E70">
              لرستان ، خرم آباد ، کوی جهادگران ، میدان کیو ، بعد از شهر بازی ، دانشگاه علمی کاربردی ، مرکز رشد جهاد
              دانشگاهی ، طبقه چهارم</p></td>
            <td style="text-align:right;vertical-align: top;"><p style="font-size: 18px;direction: rtl;color: #6D6E70">
              آدرس:</p></td>
          </tr>
        </table>
        <hr class="pull-right divider" style="width: 30%;margin-top: 5px;margin-bottom: 5px">
        <table  style="border: 0;background: transparent;margin-top: 25px;width: 100%" class="table-responsive">
          <tr>
            <td style="text-align: center">
              <p
                style="font-size: 18px;line-height:25px;text-align: justify;direction: rtl;margin-right: 20px;color: #6D6E70">
                {{phone}}
                <br>
                {{tel}}
              </p></td>
            <td style="text-align:right;vertical-align: top;"><p style="font-size: 18px;direction: rtl;color: #6D6E70">
              تماس:</p></td>
          </tr>
        </table>

      </div>
      <div class="col-sm-2 col-md-2">
        <div class="text-center" style="margin-top: 25px;">
          <h3 style="font-size: 24px;color: #183660" class="text-center wow fadeInDown">خدمات</h3>
          <hr class="divider">
          <ul type="none" class="list-group wow fadeInUp" style="border:0;background: transparent">
            <li class="list-group-item goToServices"
                style="border: none;background: transparent;padding: 0;cursor: pointer"><p style="font-size: 16px">
              اپلیکیشن موبایل</p></li>
            <li class="list-group-item goToServices"
                style="border: none;background: transparent;padding: 0;cursor: pointer"><p style="font-size: 16px">طراحی
              سایت</p></li>
            <li class="list-group-item goToServices"
                style="border: none;background: transparent;padding: 0;cursor: pointer"><p style="font-size: 16px">وب
              سرویس ها</p></li>
            <li class="list-group-item goToServices"
                style="border: none;background: transparent;padding: 0;cursor: pointer"><p style="font-size: 16px;">
              طراحی رابط کاربری</p></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-sm-pull-4 col-md-2 col-md-pull-4">
        <div class="text-center" style="margin-top: 25px;">
          <h3 style="font-size:24px;color: #183660" class="text-center wow fadeInDown">محصولات</h3>
          <hr class="divider">
          <ul type="none" class="list-group wow fadeInUp" style="border:0;background: transparent">
            <li class="list-group-item" style="border: none;background: transparent;padding: 0"><a
              href="http://e-cab.ir"><p style="font-size: 16px;">ایکب</p></a></li>
            <li class="list-group-item" style="border: none;background: transparent;padding: 0"><a
              href="http://goftare.com"><p style="font-size: 16px;">گفتاره</p></a></li>
            <li class="list-group-item" style="border: none;background: transparent;padding: 0"><a
              href="http://patill.ir"><p style="font-size: 16px;">پاتیل</p></a></li>
            <li class="list-group-item" style="border: none;background: transparent;padding: 0"><a><p
              style="font-size: 16px;">سمندر</p></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9">
        <div class="text-center" style="margin-top: 25px">
          <h3 style="font-size: 24px;color: #183660" class="text-center wow fadeInDown">صفحات اجتماعی</h3>
          <hr class="divider">
          <ul type="none" class="list-inline wow fadeInUp" style="border:0;background: transparent">
            <li style="border: none">
              <img style="display: block;margin: auto;width: 30px;height: 30px" src="../../assets/img/facebook.svg"
                   class="img-responsive"/></li>
            <li style="border: none"><img style="display: block;margin: auto;width: 30px;height: 30px"
                                          src="../../assets/img/linkedin.svg" class="img-responsive"/></li>
            <li style="border: none"><img style="display: block;margin: auto;width: 30px;height: 30px"
                                          src="../../assets/img/twitter.svg" class="img-responsive"/></li>
            <li style="border: none"><a href="https://www.instagram.com/q.company"><img
              style="display: block;margin: auto;width: 30px;height: 30px" src="../../assets/img/instagram.svg"
              class="img-responsive"/></a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</footer>
