
<div class="navbar open mustFixed navbar-inverse navbar-fixed-top" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span style="background-color: #6D6E70" class="icon-bar"></span>
        <span style="background-color: #6D6E70" class="icon-bar"></span>
        <span style="background-color: #6D6E70" class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-left" style="direction: ltr;margin-left: 10px">

        <li><a href="/about">درباره ما</a></li>
        <li><a class="active">تماس با ما</a></li>
        <li><a>وبلاگ</a></li>
        <li><a href="/work">همکاری</a></li>
        <li><a href="/services">خدمات</a></li>
        <li><a href="/products">محصولات</a></li>
        <li><a href="/">صفحه اصلی</a></li>


      </ul>
      <div class="nav navbar-nav navbar-right">
        <table  style="border: 0;background: transparent;margin-right:60px;" class="table-responsive">
          <tr>
            <td style="text-align: right"><p style="font-size: 28px;font-weight: bold;direction: rtl;color: #183660;margin: 0;padding: 10px">کیو</p></td>
            <td style="text-align:left;vertical-align: middle;">
              <img class="pull-left" style="display: block;margin: auto;width: 45px;height: 50px" src="../../assets/img/logo.png"/>
            </td>
          </tr>
        </table>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>


<div style="min-height: 100vh">
  <div class="container-fluid" style="margin-top: 95px;">
    <div class="row text-center">
      <h2 style="font-weight: 400;font-size: 36px;color: #404041;padding-bottom: 20px">تماس با ما</h2>
    </div>
    <div class="col-md-offset-4 col-md-4"
         style="background: linear-gradient(0deg,  #08AEEA,#19D9BB);border-radius: 5px">
      <input class="form-control" style="height: 40px;margin-top: 20px;"/>
      <input class="form-control" style="height: 40px;margin-top: 10px;"/>
      <input class="form-control" style="height: 40px;margin-top: 10px;"/>
      <textarea class="form-control" placeholder="پیام خود را بنویسید"
                style="direction: rtl;height: 200px;resize:none;margin-top: 10px"></textarea>
      <div style="padding-bottom: 40px">
        <button class="btn sendButton pull-right">ارسال پیام</button>
      </div>
    </div>
  </div>
</div>
