
<div class="navbar open mustFixed navbar-inverse navbar-fixed-top" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span style="background-color: #6D6E70" class="icon-bar"></span>
        <span style="background-color: #6D6E70" class="icon-bar"></span>
        <span style="background-color: #6D6E70" class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-left" style="direction: ltr;margin-left: 10px">

        <li><a class="active">درباره ما</a></li>
        <li><a href="/contact">تماس با ما</a></li>
        <li><a>وبلاگ</a></li>
        <li><a href="/work">همکاری</a></li>
        <li><a href="/services">خدمات</a></li>
        <li><a href="/products">محصولات</a></li>
        <li><a href="/">صفحه اصلی</a></li>

      </ul>
      <div class="nav navbar-nav navbar-right">
        <table  style="border: 0;background: transparent;margin-right:60px;" class="table-responsive">
          <tr>
            <td style="text-align: right"><p style="font-size: 28px;font-weight: bold;direction: rtl;color: #183660;margin: 0;padding: 10px">کیو</p></td>
            <td style="text-align:left;vertical-align: middle;">
              <img class="pull-left" style="display: block;margin: auto;width: 45px;height: 50px" src="../../assets/img/logo.png"/>
            </td>
          </tr>
        </table>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>




<div style="background: #FDFDFD;min-height: 100vh;margin-top: 10px;">
  <section style="padding-top: 80px;">
    <h2 class="text-center" style="color: #404041;padding-bottom: 50px;font-weight: 400">ما کی هستیم؟</h2>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <img src="assets/img/company.jpg" class="img-responsive"/>
        </div>
        <div class="col-sm-6 col-md-6">
          <p class="maKiHastimDesc"
             style="color: #6D6E70;margin-top: 20px;font-weight: 400;direction: rtl;text-align: justify">
            شرکت دانش‌بنیان کیو با تکیه بر نیرو‌های جوان، متعهد و متخصص خود با هدف ارائه سرویس‌های مختلف به فارسی‌
            زبانان جهان و همچنین شرکت‌ها و سازمان‌های متفاوت، بیش از پنج سال است که فعالیت خود را آغاز کرده است. با لطف
            خداوند و همت شبانه روزی نیرو‌های متخصصمان، توانسته‌ایم سرویس‌های خود را به مشتریان خود در سراسر کشور عزیزمان
            ارائه دهیم و در ارائه‌ی خدمات پشتبانی و نگهداری به آنان، سربلند و سرافراز به کارمان ادامه دهیم.
            اعتقاد ما بر این است که کیفیت ارائه‌ی خدمات، مهم‌ترین فاکتور در رضایت مشتری که رضایت مشتریان، همانا هدف اول
            شرکت دانش‌بنیان کیو است.
            امید است که همچنان بتوانیم به راهمان ادامه داده و بیش از پیش به شرکت‌ها و افراد بیشتری در این مرز و بوم خدمت
            رسانی کنیم.

          </p>
        </div>

      </div>
    </div>
  </section>

  <section style="padding-top: 80px;">
    <h2 class="text-center" style="color: #404041;font-weight: 400;padding-bottom: 50px">باور های ما چیست؟</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <h2 style="color: #6D6E70;font-size: 22px;letter-spacing: 0.5px;font-weight: 600" class="text-right">
            برای جهانی شدن کار میکنیم
          </h2>
          <p
            style="text-align: justify;color: #6D6E70;margin-top: 20px;font-size: 18px;font-weight: 400;line-height: 35px;direction: rtl;">
            بلند پروازی های ما انتها ندارید. ما فکر خود را محدود به شهر یا استان محل زندگی خود نمی کنیم. بلکه می خواهیم
            نه تنها در سطح کشوری، بلکه در سطح جهانی کار کنیم.
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2">
          <h2 style="color: #6D6E70;font-size: 22px;letter-spacing: 0.5px;font-weight: 600" class="text-right">
            محدودیتی در یادگیری نداریم
          </h2>
          <p
            style="text-align: justify;color: #6D6E70;margin-top: 20px;font-size: 18px;font-weight: 400;line-height: 35px;direction: rtl;">
            ما خود را محدود به دانشگاه یا کلاس درس یا استاد نمی کنیم. به کمک اینترنت هر آنچه را که برای پیشرفت کاری خود
            نیاز داشته باشیم به راحتی یاد می گیریم.
          </p>
        </div>
      </div>
      <div class="row" style="margin-top: 40px">
        <div class="col-sm-5 col-md-5">
          <h2 style="color: #6D6E70;font-size: 22px;letter-spacing: 0.5px;font-weight: 600" class="text-right">
            همدیگر را در یک خانواده می دانیم
          </h2>
          <p
            style="text-align: justify;color: #6D6E70;margin-top: 20px;font-size: 18px;font-weight: 400;line-height: 35px;direction: rtl;">
            ما به یکدیگر فقط به عنوان یک همکار نگاه نمی کنیم بلکه خود را یک خانواده می دانیم که با دوستی و محبت کنار
            یکدیگر برای پیشرفت روز افزون تلاش می کنیم.
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2">
          <h2 style="color: #6D6E70;font-size: 22px;letter-spacing: 0.5px;font-weight: 600" class="text-right">
            مبانی کار ما اعتماد به اعضای تیم است
          </h2>
          <p
            style="text-align: justify;color: #6D6E70;margin-top: 20px;font-size: 18px;font-weight: 400;line-height: 35px;direction: rtl;">
            ما به اجبار و دستور دادن باور نداریم. ما به اعضای تیم خود باور و اعتماد داریم و بدون هیچ نظارتی هر کسی تمام
            توان خود را برای پیشرفت شرکت به کار می گیرد.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section style="padding-top: 80px;padding-bottom: 80px">
    <h2 class="text-center" style="font-weight: 400;color: #404041;padding-bottom: 50px">تیم ما</h2>

    <div class="container" style="direction: rtl;">
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px;">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">مصیب گراوند</p>
          <p class="text-center skill">مدیر عامل</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">امیر مبارکیان</p>
          <p class="text-center skill">رئیس هیئت مدیره</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">حجت دلفان</p>
          <p class="text-center skill">برنامه نویس iOS</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">فرید بیرانوند</p>
          <p class="text-center skill">برنامه نویس Android</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">حمید بیاتی</p>
          <p class="text-center skill">برنامه نویس Android</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">سحر صباح</p>
          <p class="text-center skill">تولید محتوا</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">محمد سپه وند</p>
          <p class="text-center skill">طراح UI/UX</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">زینب محمدی</p>
          <p class="text-center skill">برنامه نویس Back-End</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">عاطفه فرضی</p>
          <p class="text-center skill">Marketing</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">محسن پنیری</p>
          <p class="text-center skill">برنامه نویس Back-End</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">سمیرا غضنفری</p>
          <p class="text-center skill">روانشناس</p>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 " style="float: right;min-height:253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">احمدرضا صالحوند</p>
          <p class="text-center skill">برنامه نویس Front-End</p>

        </div>

        <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-5 col-md-2 col-md-offset-5 "
             style="min-height: 253px">
          <img src="assets/img/ic_account_dark.svg" class="img-responsive">
          <p class="text-center name">جای شما خالیست</p>
          <p class="text-center skill">تخصص شما</p>
        </div>


      </div>

    </div>
  </section>


</div>
