
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #cccccc;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 0;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}


.timeline > li > .timeline-badge {
  color: #cccccc;
  width: 16px;
  height: 16px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 49%;
  left: 50%;
  margin-left: -8px;
  background-color: #cccccc;
  z-index: 100;
  border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}


.timeline-title {
  text-align: right;
  margin-top: 0;
  color: inherit;
}

.timeline-body > p{

  direction: rtl;
  text-align: justify;
}

