<div class="container-fluid serviceBanner">
  <div class="row">
    <h2 style="color: #404041" class="serviceHeader1 text-center wow fadeInDown">چه خدماتی ارائه می دهیم؟</h2>
  </div>
  <ul class="timeline">

    <li class="wow bounceInLeft" style="margin-bottom: -5%">
      <div class="timeline-badge"></div>
      <div class="timeline-panel" style="background: linear-gradient(90deg,#509DFD,#8D54FE)">
        <div class="timeline-title">
          <h4 class="serviceDetailHeader" style="color: white;direction: rtl">
            <img src="assets/img/monitor.svg" class="serviceLogo" style="margin-left: 10px">طراحی سایت و اپلیکشن های تحت
            وب
          </h4>
          <hr style="margin-right: 0" width="20%">
        </div>

        <div class="timeline-body">
          <p class="serviceDetailDesc" style="color:white;">
            برای کسب و کارهایی که نیاز به سایت یا لندینگ پیج برای معرفی محصول یا خدمات خود دارند یا محصولی دارند که نیاز
            به اپلیکیشن تحت وب دارد.
          </p>
        </div>
      </div>
      <div class="pull-right">
        <h2 class="serviceHeader2  text-center wow fadeInDown">چه خدماتی ارائه می دهیم؟</h2>
      </div>
    </li>

    <li class="timeline-inverted wow bounceInRight" style="margin-bottom: -5%">
      <div class="timeline-badge"></div>
      <div class="timeline-panel" style="background: linear-gradient(90deg,#15CACA,#1EDC85)">
        <div class="timeline-title">
          <h4 class="serviceDetailHeader" style="color: white;direction: rtl">
            <img src="assets/img/phone.svg" class="serviceLogo" style="margin-left: 10px">اپلیکشن موبایل اندروید و iOS
          </h4>
          <hr style="margin-right: 0" width="20%">
        </div>

        <div class="timeline-body">
          <p class="serviceDetailDesc" style="color:white;">
            برای کسب و کارهایی که خدمات و محصول آنها مبتنی بر اپلیکیشن موبایل است و نیاز به اپلیکییشن اندروید یا iOS
            دارند.
          </p>
        </div>
      </div>
    </li>
    <li class="wow bounceInLeft" style="margin-bottom: -5%">
      <div class="timeline-badge"></div>

      <div class="timeline-panel" style="background: linear-gradient(90deg,#64949B,#A38365)">
        <div class="timeline-title">
          <h4 class="serviceDetailHeader" style="color: white;direction: rtl">
            <img src="assets/img/server.svg" class="serviceLogo" style="margin-left: 10px">وب سرویس ها و نگه داری سرور
          </h4>
          <hr style="margin-right: 0" width="20%">
        </div>

        <div class="timeline-body">
          <p class="serviceDetailDesc" style="color:white;">
            توسعه وب سرویس به منظور آماده کردن بستر ارتباطی و ارائه api برای سایت ها و اپلیکیشن ها و همچنین ارائه خدمات
            مربوط به کانفیگ و نگه داری سرور.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted wow bounceInRight">
      <div class="timeline-badge"></div>
      <div class="timeline-panel" style="background: linear-gradient(90deg,#E3879B,#C850C0,#B150C4)">
        <div class="timeline-title">
          <h4 class="serviceDetailHeader" style="color: white;direction: rtl">
            <img src="assets/img/graphic-design.svg" class="serviceLogo" style="margin-left: 10px">طراحی رابط کاربری
            سایت و اپلیکشن
          </h4>
          <hr style="margin-right: 0" width="20%">
        </div>

        <div class="timeline-body">
          <p class="serviceDetailDesc" style="color:white;">
            ارائه خدمات طراحی شامل بهبود طراحی فعلی یا طراحی مجدد سایت و اپلیکیشن به کسب و کارهایی در حال توسعه محصول
            خود هستند.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
